{% extends 'base.html' %}
{% load staticfiles %}
{% block titulo %}
Biblioteca.dev | Prestamo
{% endblock titulo %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %} 
{% block body %}






<div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 pt-3 pb-3" id="profile-box">
                <h4 class="mb-4">¡ Reservacion realizada con exito !</h4>

                    
                    
                    <a href="# " class="btn btn-primary btn-block mt-5">Regresa a pagina principal !</a>
                
            </div>
        </div>
    </div> 



	
  


      

{% endblock body %}